@font-face {
    font-family: daggerSquare;
    src: url(DAGGERSQUARE.otf);
}

body {
    color: #FFF;
    background-color: #000;
}

div {
    font-family: daggerSquare;
}

a {
    font-size: 30;
    color: #FFF;
    right: 0px;
}
/*Camera styles/////Camera styles/////Camera styles/////Camera styles/////*/
#cameraOut {
    object-fit: scale-down;
    font-size: 5rem; 
    height: 370px;
    width: 587px;
    top: 0px;
    left: 0px;
    position: absolute;
    transform: scale(3);
}

#canvas {
    border: 1px solid #FF0;
    height: 370px;
    width: 587px;
    top: 0px;
    left: 0px;
    position: absolute;
}

button {
    right: 0px;
    position: absolute;
}

#cam {
    position: absolute;
    top: -30px;
    left: 70px;
}

/*FRC webcomponents styles/////FRC webcomponents styles/////FRC webcomponents styles/////*/

h3 {
    top: 0px;
}

frc-number-bar {
    fill: #FFF
}

/*Button styles/////Button styles/////Button styles/////Button styles/////*/
#front {
    top:80px;
    right: 20px;
    width: 100px;
    position: absolute;
}

#arm {
    top:160px;
    right: 20px;
    width: 100px;
    position: absolute;
}

#back {
    top: 240px;
    right: 20px;
    width: 100px;
    position: absolute;
}