body {
    color: #FFF;
    background-color: #000;
}

a {
    font-size: 30;
    color: #FFF;
    right: 0px;
    position: absolute;
}
/*Camera styles/////Camera styles/////Camera styles/////Camera styles/////*/
img {
    width: 500px;
    object-fit: contain;
    font-size: 10rem; 
	position: absolute;
}

canvas {
    width: 500px;
    height: 350px;
    border: 1px solid #FF0;
    position: absolute;
}

/*FRC webcomponents styles/////FRC webcomponents styles/////FRC webcomponents styles/////*/

h3 {
    position: absolute;
    top: 0px;
}

.tRow0 {
    position: absolute;
    top: 0px;
}

.number0 {
    color: #000;
    fill: white;
    position: absolute;
    top: 45px;
}

.boolean0 {
    position: absolute;
    top: 45px;
}

/*Button styles/////Button styles/////Button styles/////Button styles/////*/
#toggleCamera {
    position:absolute;
    top:380px;
    left: 20px;
}

#toggleRaspberry {
    position:absolute;
    top:380px;
    left: 300px;
}

