body {
    color: #FFF;
    background-color: #000;
}

a {
    font-size: 30;
    color: #FFF;
    position: absolute;
    right: 0px;
}

h3 {
    position: absolute;
    left: 0px;
    top: 0px;
}



/*FRC webcomponents styles/////FRC webcomponents styles/////FRC webcomponents styles/////*/
.boolean{
    position: absolute;
    left: 0px;
    top: 45px;
}

.number{
    color: #000;
    fill: #FFF;
    position: absolute;
    left: 0px;
    top: 45px;
}

