body {
    color: #FFF;
    background-color: #000;
}

a {
    font-size: 30;
    color: #0069c2;
    position: absolute;
    right: 0px;
}

.boolean{
    
}

.number{
    fill: #FFF;
}


/*FRC webcomponents styles/////FRC webcomponents styles/////FRC webcomponents styles/////*/




